<div fxLayout="row" fxLayoutAlign="center" fxFlexFill xmlns="http://www.w3.org/1999/html">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center" fxFlexFill>
        <div fxFlex="5" class="header_footer_pag">
            <div fxFlex="70" fxLayoutAlign="left" fxFlexFill>
                SIATH
            </div>
            <div fxFlex="30" fxLayoutAlign="right" fxFlexFill>
                WELCOME
            </div>
        </div>
        <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-sm="15" fxLayoutAlign="center" fxFlexFill>
            <div fxFlex.gt-lg="10" fxFlex.gt-md="10" fxFlex.gt-sm="15" fxLayoutAlign="center" fxFlexFill>
                <img src="assets/images/logo.png" class="images"/>
            </div>
        </div>
        <div fxFlex.gt-lg="5" fxFlex.gt-md="5" fxFlex.gt-sm="10" class="title" fxLayoutAlign="center" fxFlexFill>
            SISTEMA DE ADMINISTRACIÓN DEL TALENTO HUMANO
        </div>
        <div fxFlex="75" class="body_pag" fxLayoutAlign="center" fxFlexFill>
            <div fxFlex="90" fxLayoutAlign="center" fxFlexFill>
                <md-grid-list cols="6" gutterSize="15px" class="grid">
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-wrench fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">PARÁMETROS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-user fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">FUNCIONARIOS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-suitcase fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">VACACIONES</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-list-alt fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">PERMISOS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-graduation-cap fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">TITULOS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-vcard fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">CAPACITACIÓN</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-hand-paper-o fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">SANCIONES</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-newspaper-o fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">ACCION DE PERSONAL</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-clipboard fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">RENUNCIAS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-id-card-o fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">CONTRATOS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-sticky-note fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">HORARIOS DE TRABAJO</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-handshake-o fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">CONVENIOS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-clock-o fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">ATRASOS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-money fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">ANTICIPOS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-address-book-o fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">SOLICITUDES</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-pencil-square-o fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">EVALUACIÓN DEL DESEMPEÑO</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-user-md fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">CERTIFICADOS MÉDICOS</md-grid-tile-footer>
                    </md-grid-tile>
                    <md-grid-tile class="grid-tile">
                            <md-icon class="fa fa-users fa-8x"></md-icon>
                            <md-grid-tile-footer class="grid-footer">WEBSIS (SELECCIÓN)</md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
        <div fxFlex="5" class="header_footer_pag">
            © GAD Municipal de Santo Domingo - Dirección de Informática y Redes
        </div>
    </div>
</div>